{% extends 'base.html' %}

{% block title %}Character List{% endblock %}

{% block content %}
<table class="table">
    <tr>
        <th>#</th>
        <th>name</th>
        <th>feature</th>
    </tr>
    {% for character in character_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url '콩순이:character_detail' pk=character.id %}">{{ character.name }}</a></td>
        <td>{{ character.feature }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="3"><a href="{% url '콩순이:character_create' %}" class="btn btn-success">+ Character</a></td>
    </tr>
</table>
{% endblock %}